@import url("https://fonts.googleapis.com/css?family=Exo:400,700");

.create-profile-container {
  width: 95%;
  max-width: 850px;
  margin: 0 auto;
}

body {
  font-family: "Exo", sans-serif;
}

@media (max-width: 414px) {
  .create-form {
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
    width: 350px;
    font-family: "Exo", sans-serif;
  }

  .create-profile-page-form-container {
    font-family: "Exo", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .swal2-input {
    font-family: "Exo", sans-serif;
  }

  #swal2-title {
    font-family: "Exo", sans-serif;
  }

  .MuiInputBase-input {
    font-family: "Exo", sans-serif;
  }
}

/* font-family: '"Exo", sans-serif', */
