@import url("https://fonts.googleapis.com/css?family=Exo:400,700");

.home-page-wrapper {
  width: 95%;
  max-width: 850px;
  margin: 0 auto;
}

body {
  font-family: "Exo", sans-serif;
}

@media (max-width: 414px) {
  .home-page-container {
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
    width: 380px;
    font-family: "Exo", sans-serif;
  }

  .home-page-welcome-container {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* .home-page-nickname {
    margin-top: 50px;
  } */
  .user-account-balance-home-page {
    text-align: center;
  }
}
