@import url("https://fonts.googleapis.com/css?family=Exo:400,700");

.create-profile-container {
  width: 95%;
  max-width: 600px;
  margin: 0 auto 0 auto;
}

@media (max-width: 414px) {
  .create-form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
    width: 275px;
  }

  .create-profile-page-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .lucas-quick-login-button {
    margin-top: 60px;
    margin-left: 355px;
  }

  .luke-button {
    background: transparent;
    border: none !important;
    font-size: 0;
  }

  .quick-login-button {
    position: absolute;
    padding-top: 100px;
    background: transparent;
    border: none !important;
    font-size: 0;
  }

  .quick-login-button-container {
    margin-left: 325px;
  }

  .swal2-input {
    font-family: "Exo", sans-serif;
  }

  #swal2-title {
    font-family: "Exo", sans-serif;
  }
}
