@import url("https://fonts.googleapis.com/css?family=Exo:400,700");

.coin-page-container {
  width: 95%;
  max-width: 850px;
  margin: 0 auto;
  font-family: "Exo", sans-serif;
}

@media (max-width: 414px) {
  .coin-page-details-container {
    margin: 60px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
    width: 385px;
  }

  .buy-sell-delete-options-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .value-amount-owned-container {
    display: flex;
    flex-direction: column;
  }

  .account-balance-container,
  p {
    margin-top: -20px;
    text-align: center;
  }

  .coin-notes-container:hover {
    cursor: -webkit-grab;
  }

  .notes-from-server {
    max-width: 380px;
    margin: 0 auto 50px auto;
    justify-content: space-around;
  }

  .notes-from-server:hover {
    cursor: -webkit-grab;
  }

  .chart-js-dynamic {
    margin: 0 auto;
    max-width: 380px;
  }

  .button-options-coin-page-details {
    max-width: 380px;
    margin: 0 auto;
    justify-content: space-around;
  }
  .coin-details-container-1-2 {
    max-width: 380px;
    margin: 0 auto 0 auto;
    padding-left: 13px;
    justify-content: space-around;
  }

  .notes-container {
    max-width: 380px;
    margin: 0 auto;
    justify-content: space-around;
  }

  .notes-from-server:nth-child(even) {
    padding-left: 13px;
  }

  .hide-this {
    color: #e6f7ff;;
  }
}

.value-of-amount-owned-cell {
  padding-left: 100px;
}
