@import url("https://fonts.googleapis.com/css?family=Exo:400,700");

.coin-page-container {
  width: 95%;
  max-width: 850px;
  margin: 0 auto;
  font-family: "Exo", sans-serif;
}

@media (max-width: 414px) {
  .coin-page-details-container {
    margin: 60px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
    width: 385px;
  }

  .buy-sell-delete-options-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .value-amount-owned-container {
    display: flex;
    flex-direction: column;
  }

  .account-balance-container,
  p {
    margin-top: -20px;
    text-align: center;
  }

  .coin-notes-container:hover {
    cursor: -webkit-grab;
  }

  .coin-notes-container {
    max-width: 315px;
    margin: 0 auto;
  }

  .coin-notes-container:nth-child(even) {
    margin: 0 auto 0 auto;
  }

  .coin-notes-container:nth-child(odd) {
    margin: 0 auto 0 30px;
  }

  .notes-from-server {
    margin-top: 20px auto 0 100px;
  }

  .notes-from-server:hover {
    cursor: -webkit-grab;
  }

  .chart-js-dynamic {
    margin: 0 auto;
    max-width: 380px;
  }

  .button-options-coin-page-details {
    max-width: 380px;
    margin: 0 auto;
    justify-content: space-around;
  }

  .loading-in-coin-details-page {
    margin: 350px 187px;
  }

  .coin-details-container-1-2 {
    margin: 0 auto 0 30px;
  }

  .notes-container {
    margin: 0 auto 0 155px;
  }

  .hidden-gem {
    margin-top: 50px;
    color: #e6f7ff;
  }
}

.value-of-amount-owned-cell {
  padding-left: 100px;
}
