@import url("https://fonts.googleapis.com/css?family=Exo:400,700");

html, body {
  background-color: #e6f7ff;
  min-height: 100vh;
}

#react-root {
  background-color: #e6f7ff;
  background-size: auto;
  min-height: 100vh;
}

.overall-wrapper-about-page {
  width: 95%;
  max-width: 850px;
  margin: 0 auto;
}

@media (max-width: 414px) {
  .about-page-container {
    margin: 57px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
    width: 385px;
    text-align: center;
    font-family: "Exo", sans-serif;
  }

  li.MuiListItem-root.MuiListItem-gutters,
  a:link,
  a:visited {
    font-family: "Exo", sans-serif;
    width: 250px;
    text-align: center;
    justify-content: space-around;
    text-decoration: none;
    color: blue;
  }

  li.MuiListItem-root.MuiListItem-gutters:hover {
    cursor: hand;
  }
  li.MuiListItem-root.MuiListItem-gutters:last-child {
    color: black;
  }

  .tech-used-container {
    font-family: "Exo", sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: blue;
  }
}
